
/*textarea {
	height: 128px;
}
input:focus, textarea:focus {
	border: 2px solid rgb(168, 88, 163);
}
input[type="submit"] {
	background: rgb(2, 99, 174);
	color: white;
	padding: .2em .4em;
	border: none;
	font-size: 1em;
	cursor: pointer;
}*/


select {
	width: 328px;
}
select[multiple]{
	height: 162px;
}
/*footer styles	*/

#gallery {
	height: 400px;
	width: 681px;
	background-color: #fff;

}
#options {
	position: relative;
}
#navigation {
	position: absolute;
	top: 70px;
}
#toggle {
	position: absolute;	
	top: -360px;
}

.answerDiv {
	text-align: center;
}

.questionDiv {
	text-align: center;
	font-size: 20px;
}

.btn {
	margin-top: 10px;
	color: #fff;
	letter-spacing: 2px;
	border-style: solid;
	background-color: #33bbff;
	border-color: #33bbff;
}

.btn:hover {
	color: black;
	background-color: #00aaff;
}

#previous {
	text-align: right;
}
.category {
	border-style: solid;
	margin-top: -60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 46px;
}

.title {
	border-style: solid;
	margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 46px;
}

input.submit_button {
	border-style: solid;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 120px;
    height: 50px;
}

.row {
	text-align: center;
}

h1 {
    text-shadow: 2px 2px white;
	font-size: 60px;
}

.start_button {
	margin-bottom: 90px;
}
